<footer>
    <div class="bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        &copy; 2009 - {% now "Y" %} samu.pl, All rights reserved
                    </p>
                </div>

                <div class="col-md-6 text-right">
                    This website has been created using the <a href="https://docs.djangoproject.com/">Django framework</a>.
                </div>
            </div>
        </div>
    </div>
</footer>