@import "variables";

footer {
  > .bg-grey {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (max-width: $screen-sm) {
    text-align: center;

    .text-right {
      text-align: center;
    }
  }
}
