nav.navbar-default {
  background: #fff;
  border: none;
  // border-bottom: 1px solid #0D47A1;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.27);

  a.navbar-brand {
    color: #455A64;
    margin-top: 5px;
    text-transform: uppercase;
    b {
      color: #333;
    }
  }

  .navbar-nav > li {

    a:focus {
      color: #000;
      background: inherit !important;
    }

    a:hover {
      background: none;
      color: #90CAF9;
    }

    > a {
      color: #444;
      text-transform: uppercase;
      padding: 4px;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 10px;
      margin-right: 10px;
      transition: all 0.18s ease-in-out;
      border-bottom: 2px solid rgba(255, 255, 255, 0);
    }
  }

  .navbar-nav > li.active {
    a:focus {
      color: #90CAF9;
      box-shadow: none;
    }
    a:hover {
      background: none;
      color: #90CAF9;
    }

    > a {
      background: none;
      box-shadow: none;
      color: #2196F3;
      border-bottom: 2px solid #2196F3;
    }
  }
}
