<div class="container" id="about" data-title="About me">
    <h3>About me</h3>
    <p>My name is Jakub Szafrański. I'm a software developer and a Linux/Unix system administrator.</p>
    <p>I have experience in managing and creating hosting solutions, including web server optimization, database management, virtualization and ansible automation.</p>
    <p>As a part of my job I have developed a variety of software, mostly hosting management systems, but also a complex CRM and a few bigger or smaller side projects. My language of choice is Python, and my favorite framework is Django. Even this page, <a href="{% url 'blog:home' %}">including my blog</a> is written in it.</p>
    <p>As a hobby, I program since about 2008. I've started my career in early 2011, which at the time of creating this page gives me close to 5+ years of commercial experience.</p>
</div>